body{
    margin: 0;
    font-family: sans-serif;
}



/*Header section*/
header{
    background-color: yellow;
    padding-left: 1vw; 
    padding-right: 1vw;
    padding-top: 1px;
    padding-bottom: 2px
}



/*Navigation Section*/
nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom: 1px ;
}
a{
    margin-top: 1vw; 
    margin-left: 10px; 
    margin-right: 2vw;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    padding: 2px 5px
}
a:hover{
    background-color: gold;
    border-radius: 10px;
    transition: 0.5s ease;
}



/*Main Section begins here*/

/*Catch-phrase*/
#phrase{
    font-size: 3rem;
    padding-left: 20px;
    position: relative;
    left: 1vw;
    text-wrap: nowrap;
}
#phrase::after{
    content: "Try maths experts now!";
    position: absolute;
    top: 10vh;
    font-size: 2.5rem;
    color: orange;
    left: 60px;
}

/*Board*/
#board{
    background-color: green;
    height: 200px;
    width: 400px;
    border: 5px solid;
    border-color: brown;
    margin-left: 50px;
    margin-top: 100px;
    position: relative
}
#equation{
    font-size: 2rem;
    position: absolute;
    top: 10px;
    left: 10px
}
#cursor{
    height: 35px;
    width: 4px;
    background-color: pink;
    position: absolute;
    top: 10px;
    left: 12px;
    animation: typing 1.5s infinite;
}
#text-hider{
    height: 40px;
    width: 150px;
    background-color: green;
    position: absolute;
    top: 10px;
    left: 12px;
    animation: hide-text 1.5s infinite
}
@keyframes typing{
    0%{
        transform: translateX(-5px);
    }
    20%{
        transform: translateX(20px);
    }
    40%{
        transform: translateX(45px);
    }
    60%{
        transform: translateX(70px);
    }
    80%{
        transform: translateX(100px);
    }
    100%{
        transform: translateX(130px);
    }

}
@keyframes hide-text{
    0%{
        transform: translateX(0px);
    }
    20%{
        transform: translateX(20px);
    }
    40%{
        transform: translateX(45px);
    }
    60%{
        transform: translateX(70px);
    }
    80%{
        transform: translateX(100px);
    }
    100%{
        transform: translateX(140px);
    }
}



/*Footer section*/
footer{
    text-align: center;
    margin: 0;
    min-height: 50vh;
    padding-top: 2vh;
    background-color: black;
    color: white
}


/*Responsive design*/
/*Phones (320px - 720px)*/
@media screen and (min-width: 320px) and (max-width: 720px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header{
        width: 100vw;
        text-align: center;
    }
    nav{
        display: flex;
        justify-content: center;
    }
    a{
        margin: 5px;
        font-size: 1rem
    }
    #phrase{
        font-size: 2rem;
        text-wrap: wrap;
        margin-left: 5vw
    }
    #phrase::after{
        font-size: 1.8rem;
    }
    #board{
        width: 80vw
    }
    #text-hider{
        width: 31vw
    }
    #equation{
        font-size: 1.9rem
    }
}