<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maths</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <header>
        <h1>Maths Quiz</h1>
    </header>
        <main style="min-height: 80vh;">
            <nav>
                <a>Addition</a>
                <a>Subtraction</a>
                <a>Multiplication</a>
                <a>Division</a>
            </nav>
                <section>
                    <h2 id="phrase">Want to test your knowledge?</h2>
                    <div id="board">
                        <div id="equation" style="color: white">1 + 1 = 2</div>
                        <div id="text-hider"></div>
                        <div id="cursor"></div>
                    </div>
                </section>
        </main>
    <footer>Developed by AJ Meyer</footer>
</body>
</html>